#puzzle {
  height: 55vh;
  width: 67vh;
  position: relative;
}
#outline {
  height: 55vh;
  width: 85vh;
  position: relative;
}

#outlineImg {
  margin-left: 4%;
  margin-top: 2%;
  height: 32rem;
  width: 50rem;
  z-index: -1;
}

#purple-triangle {
  width: 0;
  height: 0;
  border-left: 15rem solid transparent;
  border-right: 15rem solid transparent;
  border-bottom: 15rem solid purple;
  transform: rotate(90deg);
  margin: 2rem;
  position: absolute;
  left: -3rem;
  top: 8rem;
}
#blue-triangle {
  width: 0;
  height: 0;
  border-left: 15rem solid transparent;
  border-right: 15rem solid transparent;

  border-top: 15rem solid blue;
  transform: rotate(0deg);
  margin: 2rem;
  position: absolute;
  left: 4.5rem;
  top: 0.5rem;
}
#violet-triangle {
  width: 0;
  height: 0;
  border-left: 10.5rem solid transparent;
  border-right: 10.5rem solid transparent;

  border-bottom: 10.5rem solid rgb(66, 0, 66);
  transform: rotate(135deg);
  margin: 2rem;
  position: absolute;
  left: 20.2rem;
  top: 21.5rem;
}
#teal-triangle {
  width: 0;
  height: 0;
  border-left: 7.5rem solid transparent;
  border-right: 7.5rem solid transparent;

  border-bottom: 7.5rem solid teal;

  margin: 2rem;
  position: absolute;
  left: 12rem;
  top: 15.5rem;
}
#red-triangle {
  width: 0;
  height: 0;
  border-left: 7.5rem solid transparent;
  border-right: 7.5rem solid transparent;

  border-bottom: 7.5rem solid red;
  transform: rotate(270deg);
  margin: 2rem;
  position: absolute;
  left: 23.25rem;
  top: 4.4rem;
}
#green-square {
  background-color: green;
  height: 10.5rem;
  width: 10.5rem;
  position: absolute;
  left: 23.7rem;
  top: 12.25rem;
  transform: rotate(45deg);
}
#gold-rhomboid {
  width: 15rem;
  height: 7.5rem;
  background-color: gold;
  transform: skewX(-45deg);
  position: absolute;
  left: 10.25rem;
  top: 25rem;
}
